.about__school-img-container {
	position: relative;
	width: 100%;
	max-width: 595px;
	max-height: 524px;
	margin: 0;
	border-radius: 60px;
}

@media screen and (max-width: 768px) {
	.about__school-img-container {
		border-radius: 50px;
	}
}

@media screen and (max-width: 480px) {
	.about__school-img-container {
		border-radius: 30px;
	}
}
