.how-to-find__place {
	overflow: hidden;
	aspect-ratio: 1.14;
	border-radius: 60px;
	-ms-filter: brightness(95%);
	-webkit-filter: brightness(95%);
	-moz-filter: brightness(95%);
	-o-filter: brightness(95%);
	filter: brightness(95%);
}

@media screen and (max-width: 768px) {
	.how-to-find__place {
		border-radius: 40px;
	}
}

@media screen and (max-width: 480px) {
	.how-to-find__place {
		border-radius: 30px;
	}
}
