.partners {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	padding: 80px 0 10px;
	background-color: #ffffff;
	border-bottom-right-radius: 60px;
	border-bottom-left-radius: 60px;
}

@media screen and (max-width: 1200px) {
	.partners {
		padding: 80px 10%;
	}
}

@media screen and (max-width: 768px) {
	.partners {
		padding: 80px 0 80px;
	}
}

@media screen and (max-width: 480px) {
	.partners {
		padding-top: 30px;
		border-bottom-right-radius: 30px;
		border-bottom-left-radius: 30px;
	}
}
