.advantages__card-tags {
	gap: 10px 5px;
	max-width: 666px;
}


@media screen and (max-width: 768px) {
	.advantages__card-tags {
		justify-content: center;
	}
}

@media screen and (max-width: 600px) {
	.advantages__card-tags {
		gap: 5px;
		padding-top: 15px;
	}
}
