.about__school-item {
	box-sizing: border-box;
	width: 100%;
}

@media screen and (max-width: 992px) {
	.about__school-item {
		margin-bottom: 70px;
	}

	.about__school-item:last-child {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 480px) {
	.about__school-item {
		margin-bottom: 50px;
	}

	.about__school-item:last-child {
		margin-bottom: 0;
	}
}
