.partners__partner-logo {
	display: block;
	margin: 0 auto;
	object-fit: contain;
	will-change: transform;
	transition: transform 0.9s ease-in-out;
}


@media screen and (max-width: 992px) {
	.partners__partner-logo:hover {
		transform: scale(0.95);
	}
}
