.about__school-option {
	margin-top: 15px;
	padding-left: 10px;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
}

.about__school-option:first-child {
	margin-top: 0;
	list-style-image: url('../../../images/locationMark.svg');
}
