.how-to-find__place-title {
	position: absolute;
	bottom: 30px;
	left: 30px;
	z-index: 1;
	width: 100%;
	max-width: 308px;
	max-height: 100%;
	margin: 0;
	color: #ffffff;
	font-weight: 600;
	font-size: 24px;
	line-height: 1.21;
	letter-spacing: -0.5px;
	font-feature-settings: 'pnum' on, 'lnum' on;
}

@media screen and (max-width: 768px) {
	.how-to-find__place-title {
		bottom: 28px;
	}
}

@media screen and (max-width: 520px) {
	.how-to-find__place-title {
		bottom: 20px;
		left: 20px;
		max-width: 240px;
		font-size: 18px;
	}
}
