.intro__lead {
	display: grid;
	grid-template-rows: auto 1fr auto;
	justify-items: center;
	box-sizing: border-box;
	width: 100%;
	padding: 0 75px 10px;
	background-image: image-set(
		url('../../../images/intro_3840.jpg') 1x,
		url('../../../images/intro.jpg') 2x
	);
	background-repeat: no-repeat;
	background-position: 63% 43%;
	background-size: 100%;
	border-radius: 60px;
	aspect-ratio: 1.69 / 1;
}

@media screen and (max-width: 1800px) {
	.intro__lead {
		background-image: image-set(
			url('../../../images/intro_2000.jpg') 1x,
			url('../../../images/intro_3840.jpg') 2x
		);
	}
}

@media screen and (max-width: 1315px) {
	.intro__lead {
		background-size: 121%;
		aspect-ratio: 5 / 4;
	}
}

@media screen and (max-width: 1024px) {
	.intro__lead {
		background-position: 62% 95%;
		background-size: 200%;
		aspect-ratio: 3 / 4;
	}
}

@media screen and (max-width: 992px) {
	.intro__lead {
		background-position: 59% 35%;
		background-size: 220%;
		aspect-ratio: 248 / 351;
	}
}

@media screen and (max-width: 1200px) {
	.intro__lead {
		background-image: image-set(
			url('../../../images/intro_1484.jpg') 1x,
			url('../../../images/intro_2970.jpg') 2x
		);
		border-radius: 50px;
	}
}


@media screen and (max-width: 640px) {
	.intro__lead {
		padding: 0;
	}
}

@media screen and (max-width: 480px) {
	.intro__lead {
		background-position: 59% -30%;
		background-size: 340%;
		border-radius: 40px;
		aspect-ratio: 2 / 5;
	}
}

@media screen and (max-width: 320px) {
	.intro__lead {
		background-size: 310%;
	}
}
