.convenience-parents {
	padding-top: 120px;
	background-color: #ffffff;
}

@media (max-width: 1200px) {
	.convenience-parents {
		padding-top: 40px;
	}
}

@media (max-width: 604px) {
	.convenience-parents {
		padding-top: 30px;
	}
}
