.support-us-card{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 133px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 30px;
	border-radius: 60px;
}

@media screen and (max-width: 480px) {
	.support-us-card{
		gap: 20px;
		min-height: 280px;
		padding: 15px;
		border-radius: 30px;
	}
}
