.courses__grid-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: auto;
	gap: 10px;
	margin: 0;
	padding: 0;
	list-style: none;
}

@media screen and (max-width: 980px) {
	.courses__grid-wrapper {
		grid-template-columns: 1fr;
		gap: 15px;
	}
}
