.page {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr;
	justify-items: center;
	width: 100%;
	min-height: 100vh;
	color: #252525;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
